body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 0.5em;
  background-color: #333;
  color: #fff;
}

#chat {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  padding: 1em;
  overflow: auto;
}

#chat article {
  background: #c3eafa;
  padding: 0.5em;
  border-radius: 0.5em;
}

form {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}

input,
button {
  padding: 0.5em;
}

input[name="body"] {
  flex: 1;
}
